.bricks { border-top:1px solid #ccc;}



.bookmakerBrick { padding:9px 10px;}
.bookmakerBrick .innerCont { background:#1e4965; padding:8px 7px 4px; min-height:28px;}
.bookmakerBrick .side { float:right; margin:-4px 0 -1px 0; font-size:13px; line-height:16px; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); text-align:right;}
.bookmakerBrick .side a {color:#fff;}
.bookmakerBrick .side .darken {opacity: 0.30;}

.bookmakerBrickNotLogged .side { font-size:15px; font-weight:bold; color:#FFD911; background:url(/img/multiplebets/icons/arrow-white-right.png) right 1px no-repeat; padding-right:20px; margin-top:4px; margin-right:3px;}
.bookmakerBrickNotLogged .side a {color:#FFD911;}























.totalBrick {padding:7px 0;}
.totalBrick .innerCont { font-size:14px; color:#323232; text-shadow: 0px 1px 0px #fff;}
.totalBrick .row { padding:3px 0;}
.totalBrick .side {float:right; font-weight:bold; font-size:18px; line-height:18px; margin:-2px 0 0 0;}







.betOfferBrick {padding:17px 0 11px;}
.betOfferBrick .innerCont { font-size:14px; color:#323232; text-shadow: 0px 1px 0px #fff;}
.betOfferBrick .side {float:right; margin-top:-7px;}
.betOfferBrick img {vertical-align:middle; margin-right:7px; position:relative; top:-1px;}





.singleBetBrick {padding:7px 0 8px;}
.singleBetBrick .innerCont { font-size:12px; color:#7F7F7F; text-shadow: 0px 1px 0px #fff;}
.singleBetBrick .side {float:right; margin-top:3px;}
.singleBetBrick h3 { color:#323232; font-size:16px; font-weight:bold;}
.singleBetBrick .betField { border:2px solid #363636; height:24px; width:76px;}
.singleBetBrick .betField.color { color:#81AE1D;}



.tickBrick {background: url(/img/multiplebets/icons/tick.png) 4px 4px no-repeat; padding:2px 2px 2px 26px; font-size:12px; text-shadow: 0px 1px 0px #fff; border-top:1px solid #ccc; color:#7F7F7F; font-family:Tahoma, Geneva, sans-serif;}



.winEwBrick {padding:9px 0;}
.winEwBrick .innerCont { font-size:12px; color:#7F7F7F; text-shadow: 0px 1px 0px #fff;}
.winEwBrick .side {float:right;}
.winEwBrick h3 { color:#323232; font-size:14px; font-weight:normal; padding-bottom:1px;}
.winEwBrick .betField { border:2px solid #363636; height:24px; width:76px; color:#81AE1D;}




.priceSpBrick {padding:17px 0 11px;}
.priceSpBrick .innerCont { font-size:14px; color:#323232; text-shadow: 0px 1px 0px #fff;}
.priceSpBrick .side {float:right; margin-top:-7px;}
.priceSpBrick img {vertical-align:middle; margin-left:2px; position:relative; top:-4px; margin-bottom:-6px;}





.messageBrick {padding:7px 10px 8px;}
.messageBrick .innerCont { font-size:13px; line-height:18px; color:#DD1500; text-shadow: 0px 1px 0px #fff; text-align:center;}




.multiSelectionBrick {padding:8px 0;}
.multiSelectionBrick .innerCont { font-size:12px; color:#323232; text-shadow: 0px 1px 0px #fff;}
.multiSelectionBrick .side {float:right; color:#7F7F7F;}

.multiSelectionBrick .panelA { padding:0 0 6px 0;}
.multiSelectionBrick .panelA h3 { display:inline-block; font-size:16px; font-weight:bold; vertical-align:middle;}
.multiSelectionBrick .panelA .customCheck { vertical-align:middle; margin-right:3px;}
.multiSelectionBrick .panelA .side {max-width: 75px; padding-top:3px; font-family:Tahoma, Geneva, sans-serif; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.multiSelectionBrick .panelA .side.trapChallengeRow {
    max-width: initial
}

.multiSelectionBrick .panelB { padding-bottom:2px;}
.multiSelectionBrick .panelB .side {margin-top:-1px;}
.multiSelectionBrick .panelB .side .betField { margin-left:2px;}
.multiSelectionBrick .panelB .side .betField,
.multiSelectionBrick .panelB .side .txtSwitcher,
.multiSelectionBrick .panelB .side .holder { vertical-align:middle;}
.multiSelectionBrick .panelB .side .holder { width:26px; display:inline-block; text-align:center; font-family:Tahoma, Geneva, sans-serif;}
.multiSelectionBrick .panelB .side .closeBtn {margin-left:2px;}

.multiSelectionBrick .panelB .placeholder { padding-top:7px;}
.multiSelectionBrick .panelB .placeholder.priceChangeRow {padding-top:4px;}

.multiSelectionBrickNoBet .panelA h3,
.multiSelectionBrickNoBet .panelB .placeholder { color:#DD1500;}
.multiSelectionBrickNoBet .priceChangeRow .old { color:#7F7F7F;}







.priceChangeRow { font-size:16px; font-weight:bold;}
.priceChangeRow span { display:inline-block;}
.priceChangeRow .old {background: url(/img/multiplebets/arrow-right.png) right 5px no-repeat; padding:0 34px 0 5px; margin-right:6px; position:relative; z-index:1;}
.priceChangeRow .old:after { content:""; display:block; position:absolute; width:33px; height:20px; left:0px; top:-1px; background: url(/img/multiplebets/diagonal-line.png) no-repeat;}



.multiBetBrick {padding:6px 0 8px;}
.multiBetBrick .innerCont { font-size:14px; color:#323232; text-shadow: 0px 1px 0px #fff;}
.multiBetBrick .side {float:right; margin-top:4px; margin-left:4px; font-size:12px; color:#7F7F7F;}
.multiBetBrick .side > * {vertical-align:middle;}
.multiBetBrick .side .betField,
.multiBetBrick .side .betField.change {border-color:#81AE1D; margin-left:2px;}
.multiBetBrick .side .holder { display:none; text-align:right; padding-top:7px;}
.multiBetBrick .side .holder.show {display:block;}
.multiBetBrick img {vertical-align:middle; margin-right:7px; margin-top:2px;}

.multiBetBrick .estReturnsHolder {clear:both; display:none; text-align:right; padding-top:7px; font-size:12px; color:#7F7F7F; text-shadow: 0px 1px 0px #fff;}
.multiBetBrick .estReturnsHolder.show {display:block;}

.multiBetBrick .betGrid { display:table;}
.multiBetBrick .betGrid .row {display:table-row;}
.multiBetBrick .betGrid .col {display:table-cell; vertical-align:middle; line-height:18px; height:36px;}

.placeBetBrick {padding:10px 6px 0;}
.placeBetBrick .side {float:right; }

.placeBetBrick .btns { width:48%; cursor:pointer;}
.placeBetBrick .btns:first-child { float:right;}

.placeBetBrick .btmSml {width:24%; float:left; margin-right:2%;}
.placeBetBrick .btmSml:forst-child {margin:0;}

.placeBetBrick .btns.btnsCenter {float:none; margin:0 auto; display:block;}

.placeBetBrickWide .btns {width:100%;}



.emptyPageInfoBrick {padding:8px 0; font-size:14px; line-height:23px; color:#323232;}
.emptyPageInfoBrick .innerCont { }
.emptyPageInfoBrick h3 {font-size:20px; font-weight:normal; line-height:22px; color:#003555; margin-bottom:3px;}

.pref_ladb .emptyPageInfoBrick h3 {color:#de1600;}

.emptyPageInfoBrick ol {list-style-type:decimal;}
.emptyPageInfoBrick ul {list-style-type: disc;}
.emptyPageInfoBrick ul,
.emptyPageInfoBrick ol {margin:0 0 17px 0;}
.emptyPageInfoBrick ol li,
.emptyPageInfoBrick ul li {margin-left:21px;}

/*.receiptBrick {padding:7px 10px 8px;}*/
.receiptBrick .innerCont { font-size:12px; color:#323232; text-shadow: 0px 1px 0px #fff;}

.receiptBrick h2 { text-align:center; font-size:20px; font-weight:normal; color:#003555; padding:9px 0; border-bottom:1px solid #ccc; margin-bottom:6px;}
.pref_ladb .receiptBrick h2 {color:#de1600;}

.receiptBrick .panelResults { color:#7F7F7F; padding-bottom:6px; border-bottom:1px solid #ccc; margin-bottom:6px;}
.receiptBrick .panelResults h4 { font-size:16px; font-weight:bold; color:#323232; padding-bottom:3px;}
.receiptBrick .panelResults p {font-family:Tahoma, Geneva, sans-serif; }

.receiptBrick .panelInfo { padding:2px 0 5px 0;}
.receiptBrick .panelInfo p { padding-bottom:3px;}
.receiptBrick .panelInfo p span { float:right;}

.receiptBrick .panelCheck {border-top:1px solid #ccc; padding:18px 0; font-weight:bold;}
.receiptBrick .panelCheck .side { float:right; margin-top:-8px;}
.receiptBrick .panelCheck .switchBtn {text-transform:capitalize;}

.receiptBrick .innerCont + .innerCont {  background:url(/img/multiplebets/perforation.png) left top repeat-x; margin:0 -10px; padding:15px 10px 0;}

.errorBrick {padding:5px 0 8px;}
.errorBrick .innerCont { font-size:14px; line-height:20px; color:#323232; text-shadow: 0px 1px 0px #fff;}

.errorBrick a { color:#003555; text-decoration:underline;}

.pref_ladb .errorBrick a {color:#de1600;}

.errorBrick p { padding-bottom:7px;}
.errorBrick .altColor { color:#7f7f7f; padding-top:3px;}

.errorBrick .betGrid { width:100%; border-collapse:collapse; margin:0 0 7px;}
.errorBrick .betGrid td { padding:0 5px;}

.errorBrick h5 { font-weight:bold; border-bottom:1px solid #ccc; padding-bottom:8px; margin-bottom:5px;}
.errorBrick h6 { font-weight:bold; padding-bottom:7px;}







.locationBrick {padding:15px 10px 8px;}
.locationBrick .innerCont { font-size:14px; line-height:20px; color:#323232; text-shadow: 0px 1px 0px #fff;}

.locationBrick p { padding-bottom:7px;}
.locationBrick .altColor { color:#7f7f7f; padding-top:3px;}

.locationBrick h3 { font-size:18px; line-height:25px; font-weight:bold; text-align:center; padding-bottom:8px;}


.betslip .switchBtn { display:inline-block; font-size:0; border:1px solid #7f7f7f; width:98px; height:27px; -webkit-box-shadow:  0px 1px 0px 0px #fff; box-shadow:  0px 1px 0px 0px #fff; background:#fff; -webkit-border-radius: 4px; border-radius: 4px;}
.betslip .switchBtn span { display:inline-block; height:27px; line-height:27px; width:50%; font-size:13px; text-align:center; text-shadow:none; background:none;}

.betslip .switchBtn .disableText,
.betslip .switchBtnActive .enableText { text-shadow: 0px -1px 0px #000; color:#fff;
    background: rgb(0,38,55); /* Old browsers */    
    background: -webkit-linear-gradient(left, rgba(38,81,108,0.7) 0%,rgba(36,74,96,0) 61%,rgba(34,69,89,0) 100%), -webkit-linear-gradient(right, rgba(38,81,108,0.7) 0%,rgba(36,74,96,0) 61%,rgba(34,69,89,0) 100%), -webkit-linear-gradient(top,  rgba(0,38,55,1) 0%,rgba(12,49,73,1) 8%,rgba(20,65,94,1) 19%,rgba(44,87,113,1) 65%,rgba(54,94,118,1) 85%,rgba(56,91,114,1) 92%,rgba(53,84,102,1) 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to right, rgba(34,69,89,0.7) 0%,rgba(35,71,91,0) 13%,rgba(38,81,108,0) 100%), linear-gradient(to left, rgba(34,69,89,0.7) 0%,rgba(35,71,91,0) 13%,rgba(38,81,108,0) 100%), linear-gradient(to bottom,  rgba(0,38,55,1) 0%,rgba(12,49,73,1) 8%,rgba(20,65,94,1) 19%,rgba(44,87,113,1) 65%,rgba(54,94,118,1) 85%,rgba(56,91,114,1) 92%,rgba(53,84,102,1) 100%) ; /* W3C */}

.pref_ladb .betslip .switchBtn .disableText,
.pref_ladb .betslip .switchBtnActive .enableText {background: rgb(226,50,31); /* Old browsers */
background: -webkit-linear-gradient(top, rgba(222,22,0,1) 0%, rgba(230,80,63,1) 100%); /* Chrome10+,Safari5.1+ */

background: linear-gradient(to bottom,  rgba(222,22,0,1) 0%, rgba(230,80,63,1) 100%); /* W3C */
-webkit-box-shadow: 0 1px 4px 3px #b93f31 inset;
box-shadow: 0 1px 4px 3px #b93f31 inset;
}

.betslip .switchBtnActive .disableText,
.pref_ladb .betslip .switchBtnActive .disableText {background:none; text-shadow:none; -webkit-box-shadow:none; box-shadow:none; color:#323232;}

.betslip .switchBtnDisabled {-moz-opacity: 0.3; opacity: 0.3;}
.betslip .switchBtnDisabled_highlightPrice {
    opacity: 1;
    border-color: #CACACA;
}

.betslip .switchBtnDisabled_highlightPrice .enableText {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.betslip .switchBtnDisabled_highlightPrice .disableText {
    opacity: 0.3;
}


.betslip .betField {border:1px solid #989898; width:78px; height:26px; padding:0 5px 1px 15px; -webkit-box-shadow: 0px 1px 0px 0px #fff; box-shadow: 0px 1px 0px 0px #fff; -webkit-border-radius: 4px; border-radius: 4px; text-align:right; font-size:16px; font-weight:bold;
    background: rgb(221,222,223); /* Old browsers */
    background: url(/img/multiplebets/icons/pound.png) 6px center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,222,223,1)), color-stop(17%,rgba(254,254,254,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: url(/img/multiplebets/icons/pound.png) 6px center no-repeat, -webkit-linear-gradient(top,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(/img/multiplebets/icons/pound.png) 6px center no-repeat, -ms-linear-gradient(top,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: url(/img/multiplebets/icons/pound.png) 6px center no-repeat, linear-gradient(to bottom,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* W3C */}
.betslip .betField.border {border:2px solid #333;}

.betslip .betField.change {border:2px solid #333; width:76px; height:24px;}

.betslip .betField.EUR {
	background: rgb(221,222,223); /* Old browsers */
	background: url(/img/multiplebets/icons/euro.png) 6px center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,222,223,1)), color-stop(17%,rgba(254,254,254,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: url(/img/multiplebets/icons/euro.png) 6px center no-repeat, -webkit-linear-gradient(top,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(/img/multiplebets/icons/euro.png) 6px center no-repeat, -ms-linear-gradient(top,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: url(/img/multiplebets/icons/euro.png) 6px center no-repeat, linear-gradient(to bottom,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* W3C */}
	
.betslip .betField.USD {
	background: rgb(221,222,223); /* Old browsers */
	background: url(/img/multiplebets/icons/usd.png) 6px center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,222,223,1)), color-stop(17%,rgba(254,254,254,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: url(/img/multiplebets/icons/usd.png) 6px center no-repeat, -webkit-linear-gradient(top,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(/img/multiplebets/icons/usd.png) 6px center no-repeat, -ms-linear-gradient(top,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: url(/img/multiplebets/icons/usd.png) 6px center no-repeat, linear-gradient(to bottom,  rgba(221,222,223,1) 0%,rgba(254,254,254,1) 17%,rgba(254,254,254,1) 100%); /* W3C */}


.betslip .customCheck { width:23px; height:22px; border:none; box-shadow:none; border-radius:0; background:none; overflow:hidden;}
.betslip .customCheck .enableText,
.betslip .customCheck .disableText,
.pref_ladb .betslip .customCheck .enableText,
.pref_ladb .betslip .customCheck .disableText {background: url(/img/multiplebets/custom-check.png) no-repeat 0 0; width:23px; height:22px; line-height:22px; margin:0; border:none; box-shadow:none;}
.betslip .customCheck .enableText,
.pref_ladb .betslip .customCheck .enableText {background-position:0 100%; display:none;}
.betslip .customCheck.switchBtnActive .enableText { display:block;}
.betslip .customCheck.switchBtnActive .disableText { display:none;}

.betslip .txtSwitcher { width:auto;}
.betslip .txtSwitcher .disableText {border:none; margin:0; min-width:30px;}
.betslip .txtSwitcher .enableText {display:none;}

.closeBtn { display:inline-block; text-transform:lowercase; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); min-width:29px; height:27px; line-height:24px; font-size:21px; text-align:center; border:1px solid #b21a00; -webkit-border-radius: 4px; border-radius: 4px;
    -webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);       
    box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    background: rgb(178,26,0);
    background: -webkit-linear-gradient(top,  rgba(178,26,0,1) 0%,rgba(218,30,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(178,26,0,1) 0%,rgba(218,30,0,1) 100%); 
    background: linear-gradient(to bottom,  rgba(178,26,0,1) 0%,rgba(218,30,0,1) 100%); cursor:pointer;}

.txtBtn {display:inline-block; height:27px; line-height:27px; font-size:14px; text-align:center; text-shadow:none; color:#003555; border:1px solid #7f7f7f; -webkit-box-shadow:  0px 1px 0px 0px #fff; box-shadow:  0px 1px 0px 0px #fff; background:#fff; -webkit-border-radius: 4px; border-radius: 4px; padding:0 6px;}

.coloredBtn,
.coloredBtnBlue {border:1px solid #003555; -webkit-box-shadow:  0px 1px 0px 0px #9f9f9f, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4); box-shadow:  0px 1px 0px 0px #9f9f9f, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4); -webkit-border-radius: 4px; border-radius: 4px; display:inline-block; height:39px; line-height:38px; font-size:14px; text-align:center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); color:#fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    background: rgb(8,49,71);
    background: -webkit-linear-gradient(top,  rgba(8,49,71,1) 0%,rgba(16,53,75,1) 6%,rgba(30,70,95,1) 34%,rgba(63,102,125,1) 100%);
    background: linear-gradient(to bottom,  rgba(8,49,71,1) 0%,rgba(16,53,75,1) 6%,rgba(30,70,95,1) 34%,rgba(63,102,125,1) 100%);}

.pref_ladb .coloredBtn,
.coloredBtnRed {border-color:#b70000;
background: rgb(180,26,0);
background: -webkit-linear-gradient(top,  rgba(180,26,0,1) 0%,rgba(219,30,0,1) 100%);
background: linear-gradient(to bottom,  rgba(180,26,0,1) 0%,rgba(219,30,0,1) 100%);}

.coloredBtn.coloredBtnBigTxt { font-size:16px; font-weight:bold; line-height:37px;}
.coloredBtn.coloredBtnRed { border-color:#b21a00; font-size:13px;
    background: rgb(180,26,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(180,26,0,1) 0%, rgba(219,30,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,26,0,1)), color-stop(100%,rgba(219,30,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(180,26,0,1) 0%,rgba(219,30,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(180,26,0,1) 0%,rgba(219,30,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(180,26,0,1) 0%,rgba(219,30,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(180,26,0,1) 0%,rgba(219,30,0,1) 100%); /* W3C */}

.coloredBtn.icoBin { position:relative; padding-left:20px;}
.coloredBtn.icoBin:after { content:""; position:absolute; left:50%; top:9px; margin-left:-48px; background: url(/img/multiplebets/icons/bin-white.png) no-repeat; width:13px; height:17px;}

.transparentBtn {border:1px solid #989898; -webkit-box-shadow:  0px 1px 0px 0px #fff, inset 0px 1px 0px 0px #fff; box-shadow:  0px 1px 0px 0px #fff, inset 0px 1px 0px 0px #fff; -webkit-border-radius: 4px; border-radius: 4px; display:inline-block; height:39px; line-height:36px; font-size:14px; text-align:center; text-shadow: 0px 1px 0px #fff; color:#003555; background:rgba(0,0,0,0.07); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor:pointer;}

.transparentBtn.icoPlus { position:relative;}
.transparentBtn.icoPlus:before { content:""; position:relative; top:-1px; width:13px; height:11px; display:inline-block; margin:0 6px 0 0; vertical-align:middle; background: url(/img/multiplebets/icons/plus.png) no-repeat;}
.placeBetBrickWide .transparentBtn.icoPlus {padding-left:0;}
.placeBetBrickWide .transparentBtn.icoPlus:after {margin-left:-114px;}

.pref_ladb .transparentBtn {color:#de1600;}
.pref_ladb .transparentBtn.icoPlus:before {background-image: url(/img/multiplebets/icons/plus-red.png);}

.transparentBtn.icoBin { position:relative;}
.transparentBtn.icoBin:before { content:""; position:relative; top:-1px; width:13px; height:17px; display:inline-block; margin:0 5px 0 0; vertical-align:middle; background: url(/img/multiplebets/icons/bin-blue.png) no-repeat;}
.pref_ladb .transparentBtn.icoBin:before {background-image:url(/img/multiplebets/icons/bin-red.png);}

.btnCancel:before {content:""; position:relative; top:2px; width:14px; height:14px; display:inline-block; margin:0 6px 0 0; background:url(/img/web-app/furniture/remove-ico.png) no-repeat;}

.btnAccept {background:#fff; color:#003656;}
.btnAccept:before {content:""; position:relative; top:3px; width:20px; height:18px; display:inline-block; margin:0 6px 0 0; background:url(/img/web-app/furniture/green-dark-tick.png) no-repeat;}


















